    <section class="contact">
      <h2 class="heavy heavy-white">Contact Me</h2>
      <div class="contact__list">
          <div class="contact__email">
              <i class="fas fa-envelope heavy-white"> Email</i>
              <div class="heavy">rbx5.rohit@gmail.com</div>
          </div>
          <div class="contact__phone heavy-white">
              <i class="fas fa-mobile-alt"> Phone</i>
              <div class="heavy">+91 9892754923</div>
          </div>
          <div class="contact__address heavy-white">
              <i class="fas fa-marker-alt"> Address</i>
              <div class="heavy">123 Mumbai, Maharashtra</div>
          </div>
      </div>

        
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/rohit-chavan-181351166/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/rbx5-rohit" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/rohit.chavan.54772" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/_chavanrohit_/" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
    </div>
    </section>