    <section class="about">
        <div class="about__bio-image">
            <div class="about__bio">
            <h2 class="text-secondary">BIO</h2>
            <p>Having 2 Years of experience as a Full - Stack Java/Angular Web Developer with diversified
                exposure in analysis, design, development and implementation of web-based applications.</p>
        </div>
        </div>

        <div class="jobs">
            <div class="jobs__job">
                <h2 class="text-secondary">
                    2019-current
                </h2>
                <h3>63 Moons Technologies</h3>
                <h5>Full Stack Developer</h5>
                <br>
                <p>Involved in various phases of Software Development Life Cycle (SDLC), including
                    requirement gathering,modeling, analysis, architecture design, prototyping, developing
                    and testing</p>
            </div>
            <div class="jobs__job">
                <h2 class="text-secondary">
                    2015-2017
                </h2>
                <h3>Microsoft</h3>
                <h6>Full Stack Developer</h6>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis ab minus inventore beatae laboriosam quisquam enim totam, corrupti ea nihil.</p>
            </div>
            <div class="jobs__job">
                <h2 class="text-secondary">
                    2012-2015
                </h2>
                <h3>Google</h3>
                <h6>Full Stack Developer</h6>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis ab minus inventore beatae laboriosam quisquam enim totam, corrupti ea nihil.</p>
            </div>
        </div>

        
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/rohit-chavan-181351166/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/rbx5-rohit" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/rohit.chavan.54772" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/_chavanrohit_/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
    </section>