    <section class="home">
        <h2>Hi My Name is </h2>
        <h1 class="home_name heavy-white">
            Rohit <span class="home_name--last heavy">Shankar Chavan</span>
        </h1>
        <h2>
            Web Developer, Designer & Programmer
        </h2>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/rohit-chavan-181351166/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/rbx5-rohit" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/rohit.chavan.54772" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/_chavanrohit_/" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
    </section>